@import url('http://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css');

:host {

  display: block;
  box-sizing: border-box;
}

mat-card:not(:last-of-type):not(:first-of-type) {

  margin: 8px 0;
}

.my-dropzone {

  padding: 8px;
  transition: all 300ms ease;
}

.custom-drag-over {

  background-color: rgba(0, 0, 0, 0.3);
  border-color: limegreen;
  transform: scale(1.05);
}

[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    opacity: 5;
    pointer-events: all;
    position: relative;
}